# OS
.DS_Store
Thumbs.db

# 微信开发者工具本地私有配置（含本机路径，不入库）
project.private.config.json

# 依赖
node_modules/

# 日志
*.log

# 编辑器
.idea/
.vscode/
